<div class="main-header">
  <h1>Edukasyon</h1>
</div>

<div class="container">
  <div class="ant-col-12 inner-container">
    <div>
      <label>Please input your student grades Ms.Tiffany</label>
      <textarea rows="4" nz-input [formControl]="inputFormValue"></textarea>
      <button nz-button nzType="primary" (click)="submit()" style="margin-top: 20px;">Submit Grades</button>
    </div>

    <h3 class="or-text">Or</h3>

    <div>
      <label>Upload your file</label>
      <nz-upload
        nzType="drag"
        [nzMultiple]="false"
        [nzLimit]="1"
        [nzAction]="fileUploadURL"
        [nzShowUploadList]="false"
        (nzChange)="handleChange($event)"
        nzAccept="text/plain"
      >
        <p class="ant-upload-drag-icon">
          <i nz-icon nzType="inbox"></i>
        </p>
        <p class="ant-upload-text">Click or drag file to this area to upload</p>
        <p class="ant-upload-hint">
          Upload your grades.txt file here to save the grades of your student
        </p>
      </nz-upload>
    </div>
  </div>
  <div class="ant-col-12 inner-container">
    <ng-container *ngIf="quarterStudentsGrades?.length === 0">
      <h2>No grades has been inputted yet.</h2>
    </ng-container>
    <ng-container *ngIf="quarterStudentsGrades?.length > 0">
      <div *ngFor="let data of quarterStudentsGrades">
        <h2 class="text-center">{{data._id}} &nbsp;
          <i nz-icon
             class="delete-icon"
             nzType="delete"
             nzTheme="twotone"
             [nzTwotoneColor]="'#A93226'"
             (click)="deleteQuarter(data._id)"
             nz-tooltip="Remove"></i>
        </h2>
        <p *ngFor="let studentAndGrade of data.studentsWithGrades">{{studentAndGrade.student}} : {{studentAndGrade.grade}}</p>
      </div>
    </ng-container>
  </div>
</div>
